html,
body {
    display: flex;
    height: 100%;
    width: 100%;
}

body {
    display:flex;
    flex-direction: column;
}

.event-content {
    flex: 1 0 auto;
}

.weather-days {
    background-color:pink;
    border: solid gray 2px;
    height: auto;
    width: 180px;
    margin-right: 10px;
    margin-bottom: 10px;
    float:left;
    padding: 10px;
    display:block;
}

footer {
    background-color:gray;
    flex-shrink: 0;
    display: block;
    height: 140px;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

header {
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
}

#subHeader {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-style: italic;
}

form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.event-content {
    padding: 0 !important;
}

.container {
    padding-bottom: 140px;
}

.listing {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.link {
    font-size: 30px;
}

.image {
    margin-top: 15px;
}

#footer-row {
    margin: auto;
    display:flex;
    justify-content: center;
    width: 100%;
}